.home {
}
.home__top {
  height: 10vh;
  width: 100%;
  background-color: #D2DBEA;
  @media all and (max-width: $s-max) {
    height: 14vh;
  }
  @media all and (max-width: $es-max) {
    height: 12vh;
  }
}
.home__topTitle {
  position: relative;
  display: inline-block;
  margin: 0 0 0 2%;
  width: 37%;
  color: $text;
  font-size: 5em;
  font-family: Impact, Charcoal, sans-serif;
  line-height: 10vh;
  @media all and (max-width: $m-max) {
    width: 50%;
    line-height: 8vh;
  }
  @media all and (max-width: $s-max) {
    display: block;
    width: 100%;
  }
  @media all and (max-width: $es-max) {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
  }
}
.home__topRight {
  position: relative;
  display: inline-block;
  width: 59%;
  margin: 0 1% 0 0;
  vertical-align: top;
  text-align: right;
  font-size: 2em;
  line-height: 10vh;
  font-weight: 400;
  color: $text;
  @media all and (max-width: $m-max) {
    font-size: 1.5em;
    width: 46%;
  }
  @media all and (max-width: $s-max) {
    display: block;
    margin: 0 0 0 2%;
    width: 100%;
    text-align: left;
    font-size: 2em;
    line-height: 6vh;
  }
  @media all and (max-width: $es-max) {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 4vh;
  }
}
.home__slideshow {
  height: 90vh;
  width: 100%;
  @media all and (max-width: $m-max) {
    height: 84vh;
  }
  @media all and (max-width: $s-max) {
    height: 86vh;
  }
  @media all and (max-width: $es-max) {
    height: 88vh;
  }
}
